{% extends 'schichtplan/base.html' %}

{% block content %}
<h2>Aktuelle Schicht</h2>
<div class="row">
  <div class="col-sm-4">
    <form method='POST'> {% csrf_token %}
      {{ form.datum }}
      <button type="submit">OK</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <table class="table table-bordered">
      <tr>
        {% for date in newDateSet %}
            {{ date|safe  }}
        {% endfor %}
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="/">Schichtplan</a>
  </div>
</div>
{% endblock %}